# ===== Database =====
POSTGRES_DB=graduationDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

# ===== Backend =====
DB_HOST=db
DB_PORT=5432
DB_NAME=graduationDB
DB_USERNAME=postgres
DB_PASSWORD=changeme
